---
import Layout from "@layouts/Layout.astro";
---
<Layout>
    <section class='flex flex-col items-start justify-center font-mona-sans mx-10 sm:mx-20 my-10 sm:mt-16  transition-all duration-500 hover:shadow-2xl hover:shadow-primary/10 animate-fade animate-once animate-ease-in-out animate-fill-forwards'>
        <h2 class='text-5xl sm:text-6xl font-bold [font-stretch:ultra-expanded]'>Favoritos // Bookmarks</h2>
        <article class='flex items-center justify-start mt-10 gap-4 flex-wrap sm:flex-col sm:flex-nowrap' id='bookmarkSection'></article>
    </section>
</Layout>
<script>
    import { init } from '@services/renderbookmarks'
    init()
</script>