---
import Layout from '@layouts/Layout.astro';
import { getCommits } from '@api/commits'

const commits = await getCommits()

const formatDate = (date:string) => {
  const dateObject = new Date(date);
  return dateObject.toLocaleDateString('es-ES',{year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'});
}
---
<Layout>
  <section class='flex flex-col items-start justify-center font-mona-sans mb-36 my-10 sm:mt-16 transition-all duration-500 hover:shadow-2xl hover:shadow-primary/10 animate-fade animate-once animate-ease-in-out animate-fill-forwards'>
    <h2 class='text-6xl font-bold [font-stretch:ultra-expanded] mx-10 sm:mx-20'>Código & Librerías</h2>
    <div class='flex flex-wrap gap-6 items-center justify-center mt-10 '>
        {
          commits?.map((commit: any) => (
            <div class='card w-80 sm:w-96 bg-base-200 shadow-xl min-h-[224px] transition-all duration-500 hover:shadow-2xl hover:shadow-primary/10 animate-fade animate-once animate-ease-in-out animate-fill-forwards'>
              <div class='card-body justify-between'>
                <h2 class='card-title'>{commit.commit.message}</h2>
                <div class='card-actions items-center justify-between'>
                  <div class='justify-between flex flex-col'>
                    <p class='text-primary text-opacity-40'>{commit.commit.author.name}</p>
                    <p class='text-primary text-opacity-40'>{formatDate(commit.commit.author.date)}</p>
                  </div>
                  <a href={commit.html_url} target='_blank' class='btn btn-sm btn-secondary font-medium'>cambios</a>
                </div>
              </div>
            </div>
          ))
        }
    </div>
  </section>
</Layout>
