---
import Head from '@components/Head.astro'
import Articles from '@components/Articles.astro';
import Header from '@components/Header.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<Head />
	<body class="bg-[#0E1217] text-slate-200">
		<Header />
		<Articles />
	</body>
</html>
