---
---

<section class='flex pt-36'>
	<div class='flex items-center justify-center flex-wrap gap-x-10 gap-y-6' id='homePosts'></div>
</section>
<script>
	import { scrollHandler, init } from '@services/articles'
	import { bookmarkHandler } from '@services/bookmark'

	bookmarkHandler()
	init()
	scrollHandler()
</script>
