---
import FilterButtons from './FilterButtons.astro';
---

<div class='pt-16'>
	<FilterButtons />
</div>
<section class='flex pt-12 items-center justify-center'>
	<div class='flex items-center justify-center flex-wrap gap-x-10 gap-y-6' id='homePosts'></div>
</section>
<script>
	import { scrollHandler, init } from '@services/articles'
	import { bookmarkHandler } from '@services/bookmark'

	init()
	bookmarkHandler()
	scrollHandler()
</script>
