---
---

<section class='flex items-center justify-center w-full'>
	<div class='flex items-start justify-center gap-x-10'>
		<button
			type='button'
			data-category='popular'
			aria-label='popular btn'
			class='bg-slate-800/60 px-6 py-2 rounded-lg'>Popular</button
		>
		<button
			type='button'
			data-category='react'
			aria-label='react btn'
			class='bg-slate-800/60 px-6 py-2 rounded-lg'>ReactJS</button
		>
		<button
			type='button'
			data-category='linux'
			aria-label='linux btn'
			class='bg-slate-800/60 px-6 py-2 rounded-lg'>Linux</button
		>
		<button
			type='button'
			data-category='github'
			aria-label='github btn'
			class='bg-slate-800/60 px-6 py-2 rounded-lg'>Github</button
		>
		<button
			type='button'
			data-category='open-source'
			aria-label='opensource btn'
			class='bg-slate-800/60 px-6 py-2 rounded-lg'>OpenSource</button
		>
		<button
			type='button'
			data-category='javascript'
			aria-label='javascript btn'
			class='bg-slate-800/60 px-6 py-2 rounded-lg'>Javascript</button
		>
	</div>
</section>
