---
---

<section class='flex items-center justify-center w-full'>
	<div class='flex items-start justify-center gap-y-2 lg:gap-y-0 gap-x-10 flex-wrap lg:flex-nowrap max-w-xs sm-max-w-xl'>
		<button
			type='button'
			data-category='popular'
			aria-label='popular btn'
			class='bg-neutral bg-pink-800/20 text-pink-800 border-[1px] border-pink-800 transition-all duration-300 hover:ease-in-out px-6 py-2 rounded-lg font-semibold hover:bg-pink-800 hover:text-slate-200'>Popular</button
		>
		<button
			type='button'
			data-category='react'
			aria-label='react btn'
			class='bg-neutral transition-all duration-300 hover:ease-in-out px-6 py-2 rounded-lg font-semibold hover:bg-cyan-300/70 hover:text-slate-900'>ReactJS</button
		>
		<button
			type='button'
			data-category='linux'
			aria-label='linux btn'
			class='bg-neutral transition-all duration-300 hover:ease-in-out px-6 py-2 rounded-lg font-semibold hover:bg-violet-400/50 hover:text-slate-100'>Linux</button
		>
		<button
			type='button'
			data-category='github'
			aria-label='github btn'
			class='bg-neutral transition-all duration-300 hover:ease-in-out px-6 py-2 rounded-lg font-semibold hover:bg-green-700 hover:text-slate-900'>Github</button
		>
		<button
			type='button'
			data-category='opensource'
			aria-label='opensource btn'
			class='bg-neutral transition-all duration-300 hover:ease-in-out px-6 py-2 rounded-lg font-semibold hover:bg-red-500 hover:text-slate-900'>OpenSource</button
		>
		<button
			type='button'
			data-category='javascript'
			aria-label='javascript btn'
			class='bg-neutral transition-all duration-300 hover:ease-in-out px-6 py-2 rounded-lg font-semibold hover:bg-yellow-500/75 hover:text-slate-900'>Javascript</button
		>
	</div>
</section>
