---
import Notifications from './Notifications.astro'
---

<header class='z-[2] flex items-center justify-between p-2 px-5 border-b-[1px] border-b-[#a8b3cf33] w-full fixed bg-[#0E1217]'>
	<a href='/' class=''>🇦🇷 linu<strong class=''>NEWS</strong></a>
	<main class='flex items-center justify-center gap-6'>
		<button
			type='button'
			aria-label='Botón de notificaciones'
			class='bg-[#1C1F26] w-8 h-8 rounded-lg'
			id='notifyIcon'><i class='fa-regular fa-bell'></i></button
		>
		<button
			type='button'
			aria-label='Botón para abrir bookmarks'
			class='flex items-center justify-center'
		>
			<p class='bg-[#1C1F26] w-8 h-8 flex items-center justify-center rounded-l-lg pl-2'
				id='bookmarkCounter'>0</p>
			<img src='/docusaurus.svg' alt='Imagen de perfil aleatorio' class='w-10' />
		</button>
	</main>
</header>
<Notifications />
<script>
	import { ntfBtnHandler } from '@services/notification'
	ntfBtnHandler()
</script>
