---
---

<div class='flex justify-center fixed bottom-4 w-full z-[2]'>
	<nav class='navbar bg-neutral max-w-xs sm:max-w-xl rounded-xl drop-shadow-md outline outline-1 outline-base-content/40' id='navbar'>
		<div class='flex-1'>
			<div class='tooltip tooltip-accent' data-tip='Popular'>
				<a href='/' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='Popular btn'>
					<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M15.138 5.624l-.873-1.054-.576-.717a2.24 2.24 0 00-3.592.099l-.15.223c-.667 1.057-.972 1.94-.942 3.219l.009.215-.028-.01c-.745-.235-1.706.106-2.467.878-2.278 2.315-2.659 5.847-.988 8.78 1.273 2.267 3.82 3.741 6.456 3.741.113 0 .227-.002.343-.008 2.72-.134 5.302-1.86 6.466-4.321a7.182 7.182 0 00.586-4.389c-.337-1.805-1.209-2.923-2.868-4.992l-.532-.652-.844-1.012zm-2.654-.82l.6.745.876 1.058.834.999.523.641c1.27 1.585 2.243 2.633 2.557 4.315a5.655 5.655 0 01-.465 3.451c-.922 1.95-3 3.339-5.154 3.445-.09.004-.18.006-.268.006-2.083 0-4.118-1.176-5.123-2.967-1.338-2.348-1.037-5.129.748-6.943.638-.648.975-.64 1.013.023l.003.132.001.566.009.574.013.381.022.376c.102 1.426.44 2.665 1.557 2.852.682.114 1.407-.064 1.853-.818.295-.509.353-1.11.163-1.69l-.073-.193-.09-.195-.115-.236-.218-.431-.275-.522-.33-.614c-.775-1.43-.908-3.343.206-4.925a.707.707 0 011.133-.03z' fill='currentcolor' fill-rule='evenodd'></path></svg>
				</a>
			</div>
			<div class='tooltip tooltip-accent' data-tip='Code Snippets'>
				<a href='/codes' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='Code Snippet btn'>
					<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M14.47 6.22a.75.75 0 01.976-.073l.084.073 5.254 5.25a.75.75 0 01.073.976l-.073.084-5.254 5.25a.75.75 0 01-1.133-.975l.073-.085L19.193 12 14.47 7.28a.75.75 0 01-.073-.976l.073-.084zM9.534 17.78a.75.75 0 01-.976.073l-.085-.073-5.253-5.25a.75.75 0 01-.073-.976l.073-.084 5.253-5.25a.75.75 0 011.134.975l-.073.085L4.811 12l4.723 4.72a.75.75 0 01.073.976l-.073.084z' fill='currentcolor' fill-rule='evenodd'></path></svg>
				</a>
			</div>
			<div class='tooltip tooltip-accent' data-tip='Changelog'>
				<a href='/changelog' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='Changelog btn'>
					<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M16.5 4a4.5 4.5 0 014.495 4.288L21 8.5v7a4.5 4.5 0 01-4.288 4.495L16.5 20h-9a4.5 4.5 0 01-4.495-4.288L3 15.5v-7a4.5 4.5 0 014.288-4.495L7.5 4h9zm0 1.5h-9a3 3 0 00-2.995 2.824L4.5 8.5v7a3 3 0 002.824 2.995l.176.005h9a3 3 0 002.995-2.824l.005-.176v-7a3 3 0 00-2.824-2.995L16.5 5.5zm-.75 9a.75.75 0 01.102 1.492l-.101.007h-2.252a.75.75 0 01-.101-1.492l.101-.007h2.252zM8.03 9.599a.75.75 0 01.976-.073l.084.073 2.121 2.12a.75.75 0 01.073.977l-.072.084L9.09 14.9a.75.75 0 01-1.133-.976l.073-.084L9.62 12.25 8.03 10.659a.75.75 0 010-1.06z' fill='currentcolor' fill-rule='evenodd'></path></svg>
				</a>
			</div>
			<div class='tooltip tooltip-accent' data-tip='Documentación'>
				<a href='#' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='Documentation btn'>
					<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M13 3l6.5 6.5V17a4 4 0 01-4 4h-7a4 4 0 01-4-4V7a4 4 0 014-4H13zm0 1.5H8.5a2.5 2.5 0 00-2.495 2.336L6 7v10a2.5 2.5 0 002.336 2.495l.164.005h7a2.5 2.5 0 002.495-2.336L18 17V9.5h-3a2 2 0 01-2-2v-3zM15.25 16a.75.75 0 01.102 1.492l-.101.007H8.749a.75.75 0 01-.101-1.492L8.749 16h6.502zm0-3a.75.75 0 01.102 1.492l-.101.007H8.749a.75.75 0 01-.101-1.492L8.749 13h6.502zm-3.5-3a.75.75 0 01.102 1.492l-.101.007H8.749a.75.75 0 01-.101-1.492L8.749 10h3.002z' fill='currentcolor' fill-rule='evenodd'></path></svg>
				</a>
			</div>
			<div class='divider divider-horizontal'></div>
			<div class='tooltip tooltip-accent' data-tip='DevID'>
				<a href='#' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='DevID btn'>
					<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M19.5 16.5a4.5 4.5 0 0 1-4.288 4.495L15 21H9a4.5 4.5 0 0 1-4.495-4.288L4.5 16.5v-9a4.5 4.5 0 0 1 4.288-4.495L9 3h6a4.5 4.5 0 0 1 4.495 4.288l.005.212v9ZM18 10.146V7.5a3 3 0 0 0-2.824-2.995L15 4.5H9a3 3 0 0 0-2.995 2.824L6 7.5v9a3 3 0 0 0 2.824 2.995L9 19.5h6a3 3 0 0 0 2.977-2.624 4.5 4.5 0 1 1 .024-6.73ZM11 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm7 5.5a3 3 0 1 0-6 0 3 3 0 0 0 6 0Z' fill='currentColor' fill-rule='evenodd'/></svg>
				</a>
			</div>
			<div class='tooltip tooltip-accent' data-tip='Invita a alguien'>
				<a href='#' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='Invita a alguien btn'>
					<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M11.551 3a4.818 4.818 0 012.997 8.592c.165.049.328.11.487.184l.235.12.084.05.055-.032a3.745 3.745 0 014.184.329l.16.134.153.145a3.744 3.744 0 01.146 5.14l-.146.155-2.02 2.02a5.173 5.173 0 01-.496.44 3.44 3.44 0 01-1.12.586 3.13 3.13 0 01-1.83 0 3.502 3.502 0 01-1.263-.7l-1.951-.06h-.09c-.14 0-.297.005-.473.016l-.375.029-.422.043-.469.058-.515.073-.56.087-.928.158-1.029.19-.887.175H5.33a2.33 2.33 0 01-2.325-2.17L3 18.602v-.414c0-3.22 2.067-5.96 4.992-7.124A4.818 4.818 0 0111.551 3zm1.818 9.927a2.244 2.244 0 00-1.624 3.7l.12.13 2.02 2.02c.377.377.672.555.99.65.159.049.32.073.48.073l.16-.008c.107-.01.214-.032.32-.064.211-.064.413-.165.64-.34.073-.056.15-.12.228-.194l.121-.117 2.021-2.02a2.244 2.244 0 00-1.384-3.822l-.169-.01a2.246 2.246 0 00-.962.201l-.18.092-.065.04-.145.095-.137.11-.131.12-.317.317-.318-.317a2.236 2.236 0 00-1.504-.656h-.164zm-3.85-.775l-.22.056c-2.69.725-4.68 3.002-4.794 5.73l-.005.25v.414a.83.83 0 00.725.824l.105.006.787-.154 1.118-.207.682-.116.633-.1.298-.044.558-.075.507-.059c.161-.016.314-.03.458-.041l.408-.025.185-.006.284-.002.118.003-.675-.677a3.903 3.903 0 01.496-5.941l-.05-.022c-.558 0-1.1.065-1.618.186zm3.081-1.185A3.32 3.32 0 0011.551 4.5a3.318 3.318 0 10.911 6.51l.138-.043z' fill='currentcolor' fill-rule='evenodd'></path></svg>
				</a>
			</div>
		</div>
		<div class='divider divider-horizontal'></div>
		<div class='flex-none'>
			<a href='/bookmarks' class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='bookmark btn' id='bookmarkMenuBtn'>
				<svg width='1em' height='1em' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='w-5 h-5 pointer-events-none'><path d='M15.874 3H8.126a3.357 3.357 0 00-3.35 3.152l-.772 12.77c-.028.459.106.915.38 1.286l.101.125c.666.764 1.818.9 2.647.287L12 17.023l4.868 3.597a1.964 1.964 0 003.128-1.7l-.771-12.767A3.358 3.358 0 0015.874 3zm0 1.5c.981 0 1.794.764 1.854 1.744l.771 12.768a.464.464 0 01-.74.402l-5.207-3.848a.929.929 0 00-1.104 0L6.24 19.414a.464.464 0 01-.74-.402l.773-12.768c.06-.98.872-1.744 1.853-1.744h7.748z' fill='currentcolor' fill-rule='evenodd'></path></svg>
			</a>
			<button class='btn btn-ghost btn-circle btn-xs sm:btn-md' aria-label='Notify btn'>
				<div class='indicator'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						class='h-5 w-5'
						fill='none'
						viewBox='0 0 24 24'
						stroke='currentColor'><path
							stroke-linecap='round'
							stroke-linejoin='round'
							stroke-width='2'
							d='M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9'></path></svg>
					<span class='badge badge-xs badge-primary indicator-item'></span>
				</div>
			</button>
			<div class='dropdown dropdown-top'>
				<label tabindex='0' class='btn btn-ghost btn-circle btn-sm sm:btn-md avatar mt-1 ml-2'>
					<div class='w-8 sm:w-10 rounded-full'>
						<img src='https://placeimg.com/80/80/people' alt='Random Avatar image' />
					</div>
				</label>
				<ul
					tabindex='0'
					class='menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52'>
					<li>
						<a class='justify-between'>
							Profile
							<span class='badge'>New</span>
						</a>
					</li>
					<li><a>Settings</a></li>
					<li><a>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>