---

---
<nav class="z-[1] w-12 h-screen pt-24 border-r-[1px] border-r-[#a8b3cf33] fixed">
    <div class="flex flex-col items-center justify-center gap-6">
        <ul class="w-full bg-slate-700 py-1 flex items-center justify-center">
            <li class=""><img src="/docusaurus.svg" alt="" class="w-6"></li>
        </ul>
        <ul class="">
            <li class=""><i class="fa-solid fa-fire"></i></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
        </ul>
    </div>
</nav>