---

---
<div class="relative">
    <button type="button" class="absolute left-8 top-16"><i class="fa-solid fa-chevron-left px-2 py-1 text-[#0E1217] bg-slate-100 rounded-lg"></i></button>
</div>
<nav class="z-[1] w-12 h-screen flex flex-col items-center justify-center border-r-[1px] border-r-[#a8b3cf33] fixed" id='closedSidebar'>
    <div class="flex flex-col items-center justify-center gap-12 w-full">
        <ul class="w-full bg-slate-700 py-1 flex items-center justify-center">
            <li class=""><img src="/docusaurus.svg" alt="" class="w-6"></li>
        </ul>
        <ul class="flex flex-col items-center justify-center gap-2">
            <li class=""><i class="fa-solid fa-fire"></i></li>
            <li class=""><i class="fa-solid fa-code"></i></li>
            <li class=""><i class="fa-solid fa-circle-info"></i></li>
            <li class=""><i class="fa-regular fa-file-lines"></i></li>
        </ul>
        <ul class="flex flex-col items-center justify-center gap-2">
            <li class=""><i class="fa-solid fa-id-badge"></i></li>
            <li class=""><i class="fa-solid fa-user"></i></li>
        </ul>
    </div>
</nav>