---
---

<section class='flex items-center justify-center'>
    <article class='flex items-center justify-center' id='loginModal'>
	</article>
</section>
<script>
    import { modalHandler } from '@services/modals'
    modalHandler()
</script>
