---
---

<section class='hidden fixed z-[1] top-0 w-full h-screen backdrop-blur-sm overflow-y-scroll pt-6 pb-28' id='notifySection'>
</section>
<script>
	import { init } from '@services/notification'
	init()
</script>
